.pokemon-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.header-logo {
  width: 200px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.homeWrapper {
  max-width: 1100px;
  margin: auto;
}

.search-pokemon {
  display: flex;
  width: 300px;
  padding: 5px;
  font-family: "Press Start 2P";
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage-nav {
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-button-back,
.nav-button-forward {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 15px;
  border-radius: 30px;
  font-family: "Press Start 2P";
  border: none;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 47, 255);
}

.footer-logo {
  width: 200px;
}

.homepage-footer {
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
